{% extends "base.html" %}

{% block content %}
    <h1>Utwórz nową grupę rodzinną</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
            {% if form.name.errors %}
                <ul style="color: red;">
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}