<!DOCTYPE html>
<html>
<head>
    <title>Simple Family Manager</title>
<head>
<body>
<nav>
    <a href="{{ url_for('index') }}">Strona Główna</a>
    
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Wyloguj</a>
    {% else %}
        <a href="{{ url_for('login') }}">Zaloguj</a>
        <a href="{{ url_for('register') }}">Zarejestruj</a>
    {% endif %}
</nav>
<hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
<hr>
{% if current_user.is_authenticated %}
    <h2>Twoje grupy rodzinne:</h2>
    <a href="{{ url_for('create_group') }}">Stwórz nową grupę</a>

    <ul>
        {% for group in groups %}
            <li>{{ group.name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <h1>Witaj w Simple Family Manager!</h1>
    <p>Zaloguj się lub zarejestruj, aby zacząć zarządzać swoją rodziną.</p>
{% endif %}
</body>
</html>