<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - Simple Family Manager</title>
</head>
<body>
<nav>
    <a href="{{ url_for('index') }}">Strona Główna</a>
    
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Wyloguj</a>
    {% else %}
        <a href="{{ url_for('login') }}">Zaloguj</a>
        <a href="{{ url_for('register') }}">Zarejestruj</a>
    {% endif %}
</nav>
<hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h1>Formularz Logowania</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>Nie masz konta? <a href="{{ url_for('register') }}">Zarejestruj się!</a></p>
</body>
</html>